<div>
<a style="background-color: white; color: black; border: 2px solid #4CAF50; padding: 15px 32px" href="/books">All books available</a>
<a style="background-color: white; color: black; border: 2px solid #4CAF50; padding: 15px 32px" href="/longestbook">Longest book</a>
<a style="background-color: white; color: black; border: 2px solid #4CAF50; padding: 15px 32px" href="/eubooks">Europe books</a>
<a style="background-color: white; color: black; border: 2px solid #4CAF50; padding: 15px 32px" href="/africanbooks">Africa books</a>
<a style="background-color: white; color: black; border: 2px solid #4CAF50; padding: 15px 32px" href="/asiabooks">Asia books</a>

</div>
<div>
    {{{body}}}
</div>